body {
  background: #0d1117;
  color: #c2d0d8;
  font-family: "Courier New", Courier, monospace;
}

.navbar {
  background: #8eafd1;
  font-size: 30px;
}

.margin {
  padding-bottom: 30px;
  padding-top: 10px;
}

.quemsomos {
  background: #032030;
}

.parceiros {
  background: none;
}

.servicos {
  background: none;
}

.footer {
  background: black;
}

/** 
 * #55a0f6
 */
